<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572236256696-m327o3i0d6qvb73qu366hqmhvb47v38f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572236256696-m327o3i0d6qvb73qu366hqmhvb47v38f</string>
	<key>API_KEY</key>
	<string>AIzaSyCyzo9qI-kAjUzqK8h7hDdBcUHfKXNZD1I</string>
	<key>GCM_SENDER_ID</key>
	<string>572236256696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MeetCarGo.CarGo</string>
	<key>PROJECT_ID</key>
	<string>cargo-488e8</string>
	<key>STORAGE_BUCKET</key>
	<string>cargo-488e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572236256696:ios:0623418e02926c85</string>
	<key>DATABASE_URL</key>
	<string>https://cargo-488e8.firebaseio.com</string>
</dict>
</plist>